
header {
  padding-bottom: 380px;
}
#navigation {

}
ul {
  margin-top: 35px;
  overflow: hidden;
}
ul li {
  display: inline-block;
}
li a {
  color: black;
}
li a:hover {
  color: blue;
}
#butt {
  padding: 15px;
}
h1 {
  /*padding-top: 20px;*/
  font-family: 'Montez', cursive;
  font-size: 90px;
  color:#e53838;
  white-space: nowrap;
}

#abt {
  background-color: white;
  width: 100%;
  height: 100%;
  padding-top: 160px;
  margin-top: 340px;
}

.container-contact {
  position: relative;

}

.text {
  position: absolute;
  top: -620px;
}

h2 {
  text-align: center;
  padding-top: 40px;
}

.me {
  color: black;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 70px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

p {
  text-align: center;
  font-size: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.btn {
  color: white;
  background-color: black;
  /*border-radius: -10px;*/
  text-decoration: none;
  text-align: center;
}
#mainpic {
  margin-top: 15px;
}
