
header {
  background: linear-gradient(204deg, #03a477, #95de77, #75ebcb, #4ce5f2, #1a5078);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
  padding-bottom: 380px;
}
#navigation {
  padding-top: 15px;
  padding-left: 250px;
}
.ghost-button {
  list-style: none;
  display: inline-block;
  width: 150px;
  padding: 5px;
  color: #fff;
  border: 2px solid #fff;
  /*border-radius: 20px;*/
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  color: white;
  /*padding-left: 210px;*/
  padding-top: 180px;
  white-space: nowrap;
}

@-webkit-keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
@keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}

#abt {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 160px;
  padding-top: 540px;
}

.container-contact {
  position: relative;

}

.text {
  position: absolute;
  top: -620px;
}

h2 {
  text-align: center;
  padding-top: 40px;
}

.me {
  color: black;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 70px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  text-align: center;
  font-size: 15px;
}

ul {
  text-align: center;
}
