/*colors: watermelo: #FF6A5C
Teal: #056571*/
html {
  background-color: #CCDFCB;
  font-family: Candara, Monaco;
}

#navigation {
  background-color: #5F0F4E;
  padding-top:20px;
  width: 100%;
  height: 100px;
}

#navigation li {
  list-style: none;
  display: inline;
  margin-right: 260px;
}

#navigation li a {
  color: white;
}

#words h1 {
  color: #F53240;
  margin-left: 350px;
}

/*#words h2 {
  color: #FF6A5C;
}

#words h3 {
  color: #056571;
}
*/
